@charset "utf-8";

/*** Site-wide Styles ***/
html body.admin-menu {margin-top:32px !important;}

/*** Header ***/
.front #header-wrapper {background:url(../images/slider-bg-01.jpg) no-repeat center center / cover #fff;margin-bottom:20px;}

#header {background:#fff;background:rgba(255,255,255,.8);width:100%;position:fixed;z-index:999;top:0px;left:0px;}
#header:hover {background-color:#fff;}
#header.header-fixed {box-shadow:0px 5px 5px rgba(0,0,0,.3);background-color:#fff;}
.admin-menu #header {top:32px;}

	#header h1#logo, #header h3#logo {margin-bottom:0px;margin-top:21px;}

	#primary-nav, #primary-nav ul {position:static !important;}
	#primary-nav ul {list-style-type:none;margin:0px;padding:0px;}
	#primary-nav ul li {list-style-type:none;list-style-image:none;margin:0px;padding:0px;float:left;}
	#primary-nav ul li a:link, #primary-nav ul li a:visited {display:block;height:100px;line-height:100px;padding:0px 10px;font-size:18px;text-decoration: none;color:#000;}
	#primary-nav ul li.has-megamenu {background-image:url(../images/icon-megamenu-active.png);background-repeat:no-repeat;background-position: 0 -999px;} 
	#primary-nav ul li a:hover, #primary-nav ul li a:active, #primary-nav ul li a.active-megamenu {}
	#primary-nav ul li.active-megamenu-li {background-position:center bottom;}
	#primary-nav ul li.has-megamenu > a {padding-right:40px;background-image:url(../images/icon-arrow.png);background-repeat: no-repeat;background-position: 90% center;}
		#header .megamenu {position:fixed;top:100px;left:0px;width:100%;display:none;}
		html body.admin-menu #header .megamenu {top:132px;}
		#header .megamenu .container {background:#eee;margin-bottom:20px;box-shadow:0 3px 2px rgba(0,0,0,.6);border-radius:0 0 3px 3px;border:1px solid white;border-top:0;}
		#header .megamenu .columns {padding:20px;}
		#primary-nav .megamenu h4 {font-weight:bold;}
		#primary-nav .megamenu img {margin:0 auto;}
		#primary-nav .megamenu ul {margin-left:0px;}
		#primary-nav .megamenu ul li {float:none;padding:5px 0px 5px 20px;background:url(../images/bullet-02.png) no-repeat 0px 10px;border-bottom:1px solid #ccc;line-height:20px;}
		#primary-nav ul li .megamenu a {display:inline;height:auto;line-height:normal;padding:0px;font-size:16px;}
		#primary-nav .megamenu ul li a:link, #primary-nav .megamenu ul li a:visited {color:#000;}
		#primary-nav .megamenu ul li a:hover, #primary-nav .megamenu ul li a:active {color:#0092c8;}

	a#primary-nav-toggle:link, a#primary-nav-toggle:visited {display:none;background:#0092C8;border: 1px solid #005a7b;border-radius: 3px;box-shadow: 0 0 1px #FFF;color: #fff;float: right;font-size: 16px;margin: 25px 0px 0px;padding: 5px 10px;text-decoration:none;}
	a#primary-nav-toggle:hover, a#primary-nav-toggle:active, a#primary-nav-toggle.active {background:#00A2CC;}

	#header .search-toggle {display:block;height:24px;width:30px;margin:38px auto 0px;background:url(../images/icon-search.png) no-repeat center center;}
	#header .search-toggle#mobile-search-toggle {display:none;}
	#header #search-form-wrapper {width:160px;position:absolute;left:-160px;top:50%;background:rgba(0,0,0,.5);padding:5px;box-shadow:1px 1px 3px rgba(0,0,0,.9);border-radius:5px;display:none;}
	#header #search-block-form {margin:0px;}
	#header #search-block-form input {float:left;margin:0;}
	#header #search-block-form input.form-text {margin-right:5px;width:95px;height:30px;box-shadow:0px 0px 4px rgba(0,0,0,.4) inset;border-radius:5px;}
	#header #search-block-form input.form-submit {float:right;width:50px;height:30px;padding:0;}

/** Slider **/
#slider {height:690px;position:relative;padding-top:100px;z-index:998;}
#slider .slides {height:450px;position:relative;overflow:hidden;}
#slider .slide {width:100%;}
#slider #slider-left {position:relative;height:450px;}
#slider #slider-left img {position:absolute;bottom:0px;}
#slider .slider-right-container {height:450px;margin-top:-450px;z-index:999;}
#slider-right {float:right;background:rgba(255,255,255,.3);margin-top:50px;padding:20px;}
#slider-right h2, #slider-right h3 {color:#fff;}
#slider-right .form-select-wrapper {background:url(../images/compatible-badge.png) no-repeat left center;padding:5px 0px 0px 80px;min-height:80px;}
#slider-right select {padding:15px;height:60px;margin:0px;border:1px solid #fff;box-shadow:0px 0px 3px #999 inset;color:#ade7fc;font-size:18px;border-radius:20px;width:100%;}
#slider-right p.text-right {padding-left:40%;}
#slider #slider-nav {background:#ececec;height:140px;z-index:999;position:relative;}
#slider #slider-nav ul, #slider #slider-nav ul li {list-style-type:none;margin-bottom:0px;}
#slider #slider-nav ul li.activeSlide {background:url(../images/slider-nav-sel.png) no-repeat top center;padding-top:12px;margin-top:-12px;}
#slider #slider-nav ul li a {display:block;padding:20px 10px;height:140px;text-decoration: none;}
#slider #slider-nav ul li.activeSlide a {background:#fff;}
#slider #slider-nav li img {float:left;}
#slider #slider-nav li h3 {margin:0px 0px 10px 90px;font-size:25px;line-height:27px;font-weight:bold;letter-spacing:1px;}
#slider #slider-nav li p {margin:0px 0px 0px 90px;font-size:14px;line-height:18px;}
#filter_select .step span.loader{position:absolute !important;top:184px !important;left:398px !important;}

/*** Main ***/
.not-front #main {padding-top:120px;padding-bottom:20px;}
.easy-breadcrumb {font-size:12px;color:#999;border-top:1px solid #ddd;border-bottom:1px solid #ddd;margin-bottom:20px;line-height:28px;text-transform: uppercase;}
.easy-breadcrumb a {text-decoration: none;}

#block-views-category-banner-block {margin-bottom:20px;}

h2 a {text-decoration: none;}

/*** Content - Primary ***/
body.node-type-product #primary {float:right;}

#primary .field-item ul {margin-left:20px;}
#primary .field-item ul li {padding-left:20px;background:url(../images/bullet-01.jpg) no-repeat 0px 5px;}

#primary table {width:100%;border:1px solid #ddd;margin-bottom:20px;}
#primary table td, #primary table th {padding:3px 5px;border:1px solid #ddd;}
#primary table th {font-weight:bold;}
#primary table thead td, #primary table thead th {background:#0092c8;color:#fff;border-color:#0078a5;}
#primary table tfoot td, #primary table tfoot th {background:#f6f6f6;}

	/** Tabs **/
	#crucial-tab-wrapper {clear:both;width:100%;float:left;}
	#crucial-tab-wrapper .crucial-tabs-container {clear:both;position:relative;padding:0px;float:left;width:100%;z-index:3;}
	#crucial-tab-wrapper ul.crucial-tabs {margin:0px;padding:0;}
	#crucial-tab-wrapper ul.crucial-tabs li {display:block;float:left;padding:0px;margin:0px 0px 0px 10px;}
	#crucial-tab-wrapper ul.crucial-tabs li a {display:block;float:left;font-size:18px;padding:6px 12px;color:#444;text-decoration:none;font-weight:normal;background:#fff;margin:0px;}
	#crucial-tab-wrapper ul.crucial-tabs li a.selected {color:#000;background:#eee;border-radius:5px 5px 0px 0px;}
	#crucial-tab-wrapper ul.crucial-tabs li a:hover {color:#000;}
	#crucial-tab-wrapper ul.crucial-tabs li a.selected:hover {cursor:default;}
	#crucial-tab-wrapper .tab-content {clear:both;padding:20px;position:relative;z-index:2;background:#eee;}
	.js #crucial-tab-wrapper .tab-content {display:none;}

	/** Product Category **/
	.product-summary .views-row {margin-bottom:20px;padding-bottom:20px;border-bottom:1px solid #eee;}
	.product-summary .views-row-last {border-bottom:0px;margin-bottom:0px;padding-bottom:0px;}
	.product-summary .views-row .views-field {margin-left:240px;}
	.product-summary .views-row .views-field.views-field-field-image {float:left;margin-left:0px;margin-top:-40px;}
	.product-summary .views-row .views-field h2 {font-size:22px;line-height:28px;margin-bottom:10px;}
	.product-summary .views-row .views-field.views-field-field-tmall-url {text-align:right;}
	.product-summary .views-row .views-field-body{min-height:240px;overflow:visible;}
	.product-summary .views-row .views-field-field-tmall-product-id{margin-left:0px;float:left;margin-top:-70px;}
	.product-summary .views-row .views-field-field-tmall-product-id .field-content{width:220px;text-align:center;}
	.product-summary .views-field-title{font-size:20px;font-weight:bold;padding-bottom:10px;margin-left: 0;}
	.product-summary .views-field-title a{text-decoration:none;}
	.product-summary .button.buy-now {line-height:32px;color:#fff;}
	.product-summary .product_price{height:25px;/*padding:4px 0 10px ;*/padding-bottom:5px;color:#0092c8;font-weight:bold;font-size:22px;}
	#button_wrapper{width:290px;text-align:center;float:left;position:relative;padding-bottom:30px;margin:-30px 0 0 0;}
	#button_wrapper .product_price{height:25px;/*padding:4px 0 10px;*/padding-bottom:5px;color:#0092c8;font-weight:bold;font-size:22px;}
	#button_wrapper .buy-now.button{line-height: 32px;color:#fff;}
	/** Pager **/
	#primary .pager {clear:both;margin:20px;}
	#primary .pager li {padding:0px 2px;margin:0;}
	#primary .pager li a:link, #primary .pager li a:visited {color:#666;background:#fff;padding:5px 8px;border-radius:5px;border:1px solid #ddd;line-height:30px;text-decoration: none;}
	#primary .pager li a:hover, #primary .pager li a:active {color:#0092c8;}
	#primary .pager li.pager-current {padding:5px 8px;color:#fff;background:#0092c8;border:1px solid #0092c8;border-radius:5px;}


/*** Secondary ***/
#secondary .block {margin-bottom:20px;}
#secondary .block:last-child {border-bottom:0px;padding-bottom:0px;margin-bottom:0px;}

/*** Footer ***/
#footer {padding:20px 0px;background:#ececec;}
#footer h3 {color:black;font-size:22px;font-weight: bold; letter-spacing: 1px;}
#footer ul {list-style-type:none;margin-left:0px;width:100%;}
#footer ul li {list-style-image:none;list-style-type:none;}
#footer ul li a {text-decoration: none;}
#footer #block-block-5 {font-size:16px;color:#999;padding-top:20px;}

/*** Images & Icons ***/
img {display:block;height:auto;max-width:100%;}
.aligncenter {display: block;margin: 0px auto;}
.alignright {margin: 0 0 2px 7px;display: block;float:right;}
.alignleft {margin: 0 7px 2px 0;display: block;float:left;}

.tmall-cat {display:inline-block;width:32px;height:32px;background: url(../images/icon-tmall-cat.png) no-repeat center center transparent;margin-right:5px;float:left;}

/*** Misc Styles ***/
.clear {clear:both;}
.hidden {display:none;}
.text-right {text-align:right;}
.text-left {text-align:left;}
.text-center {text-align:center;}
.text-small {font-size:80%;}
.text-large {font-size:200%;}
.video-container {position: relative;padding-bottom: 56.25%;padding-top: 30px; height: 0; overflow: hidden;}
.video-container iframe, .video-container object, .video-container embed {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}

.bg-transition {-webkit-transition: background-color 300ms linear;-moz-transition: background-color 300ms linear;-o-transition: background-color 300ms linear;-ms-transition: background-color 300ms linear; transition: background-color 300ms linear;}
div.notify {background:#fffbbb;border:1px solid #fdd73e;padding:8px;color:#cba717;margin:0px 0px 10px;}
div.error  {background:#ffd0bb;border:1px solid #fd5e3e;padding:8px;color:#cb3517;margin:0px 0px 10px;}
div.status {background:#bbdbff;border:1px solid #3eb3fd;padding:8px;color:#1785cb;margin:0px 0px 10px;}
div.help {background:#d7ffbb;border:1px solid #a6fd3e;padding:8px;color:#4ccb17;margin:0px 0px 10px;}
h1.title{font-size:21px;font-weight:bold;line-height:30px;}
/** Views Grid **/

.tmall-index .tmall-tag {
    background: url('../images/tag-tmall.png') no-repeat scroll 0% 0% transparent;
    width: 102px;
    height: 109px;
    position: absolute;
    z-index: 1;
    top: 0px;
    right: 0px;
}
.tmall-index{
border:1px solid #E5E5E5;
}

.tmall-index .views-field-title{
height: 46px;
width: 100%;
padding: 0px 5px 0px 0px;
position: absolute;
bottom: 0px;
left: 0px;
background: none repeat scroll 0% 0% rgba(0, 145, 202, 0.698);
}

.tmall-home .views-field-title{
height: 46px;
width: 117%;
padding: 0px 5px 0px 0px;
position: absolute;
bottom: 0px;
left: 0px;
background: none repeat scroll 0% 0% rgba(0, 145, 202, 0.698);
}
.tmall-index .views-field-title a, .tmall-home .views-field-title a{
    font-family: "Microsoft YaHei";
    margin: 6px 0px 0px 6px;
    display: block;
    line-height: 14px;
    height: 15px;
    font-size: 14px;
    width: 100%;
    float: left;
    text-align: left;
    color: #FFF;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-shadow: 1px 1px 2px #333;
}

.tmall-index .views-slideshow-pager-field-item .views-field-field-fp-image{
background: #F8F8F8;
float:left;
margin-right:10px;
text-indent: -9999px;
opacity: .6;
height:40px;
border: 2px solid #F8F8F8;
}
.tmall-index .views-slideshow-pager-field-item .views-field-field-fp-image:hover{
border: 2px solid #0092C8;
background: #F8F8F8;
opacity: 1;
}

.tmall-index .tmall-tag {
    background: url("../images/tag-tmallhot.png") no-repeat scroll 0% 0% transparent;
    width: 150px;
    height: 95px;
    position: relative;
    z-index: 100;
    margin-top: -255px;
}

.tmall-index #views_slideshow_cycle_main_featured_product_slideshow-block_1{
margin-top: 55px;
}
.views-slideshow-pager-field-item.active{
background: #2B9FCB;
}
.tmall-index .product-price-ajax, .tmall-home .product-price-ajax{
font-family: "Microsoft YaHei";
font-weight: bold;
color: #FF9326;
margin-left: 6px;
text-shadow: 1px 1px 2px #333;
line-height: 0px;
margin-top: -5px;
}
.tmall-index .views-slideshow-controls-top{
margin:10px;
}

.tmall-home .views-content-field-url-id{
text-indent: -999px;
height: 10px;
width: 10px;
float:left;
display:none;
margin-right:10px;
}
.tmall-home .views-slideshow-pager-field-item{
text-indent: -999px;
height: 10px;
width: 10px;
background: #ccc;
float:left;
margin-right:10px;
}

.tmall-home .views-slideshow-pager-field-item:hover, .tmall-home .views-slideshow-pager-field-item.active{
background: #2B9FCB;
}

.tmall-home .tmall-tag-home {
    background: url("../images/tag-tmall.png") no-repeat scroll 0% 0% transparent;
    width: 102px;
    height: 109px;
    position: absolute;
    z-index: 999;
    top: 0px;
    right: 0px;
}
.tmall-home{
border:1px solid #E5E5E5;
padding: 6px;
}
.tmall-home .views-slideshow-controls-top{
margin-left:15px;
margin-bottom:10px;
}
.tmall-home img{
margin-left: 25px;
}
/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	#slider-right {margin-top:30px;}
	#slider-right p.text-right {padding-left:0px;}
	#slider #slider-nav li h3 {font-size:18px;line-height:20px;margin-bottom:5px;}
	.container .five.columns .even{font-size:15px;}
	.container .five.columns .even p{margin-bottom:4px;}
	#primary .field-item ul li{margin-bottom:4px;}
	#primary-nav ul .last.leaf{display:none;}
	#filter_select .step span.loader{position:absolute !important;top:236px !important;left:298px !important;}

}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	#header {position:relative;}
	#header.header-fixed {box-shadow:none;}
	#header #header-primary {padding-bottom:20px;}
	#header h1#logo, #header h3#logo {float:left;}
	#primary-nav {display:none;}
	a#primary-nav-toggle:link, a#primary-nav-toggle:visited {display:block;}
	#header .search-toggle {display:none;}
	#header .search-toggle#mobile-search-toggle {display:block;float:right;margin:30px 0px 0px 5px;}
	#header #search-form-wrapper {position:relative;left:auto !important;top:auto;width:100% !important;float:left;clear:both;box-shadow:none;margin-bottom:20px;}
	#header #search-block-form input.form-text {width:75% !important;}

	#primary-nav ul li {float:left;width:100%;position:relative;}
	#primary-nav ul li a:link, #primary-nav ul li a:visited {height:40px;line-height:40px;}
	#primary-nav ul li.has-megamenu > a {background-position:90% center;}
	#primary-nav ul li a.active-megamenu {background-color:#e9e9e9;}
	#primary-nav ul li .megamenu a {height:auto;line-height:normal;}
	#header .megamenu, html body.admin-menu #header .megamenu {position:relative;top:auto;left:auto;z-index:999;background:transparent;box-shadow: none;}
	#header .megamenu .container {margin-bottom:0px;background:#eee;}
	#header .megamenu .columns {padding:10px;border-bottom:1px solid #e9e9e9;}
	#header .megamenu .columns:last-child {border-bottom:0px;}
	#primary-nav .megamenu ul {width:100%;clear:left;float:left;}
	#primary-nav .megamenu ul li {width:auto;float:left;padding:10px 20px;}

	#slider {height:auto;padding-top: 0px}
	#slider .slides {display:none;}
	#slider .slider-right-container {height:auto;margin-top:0;}
	#slider #slider-right {margin:20px 0;}
	#slider #slider-right h2 {font-size:22px;line-height:24px;}
	#slider #slider-right h3 {font-size:18px;line-height:20px;}
	#slider #slider-right h4 {font-size:16px;line-height:18px;}
	#slider #slider-right hr {margin-bottom:10px;}
	#slider-right .form-select-wrapper {background-size:40px 40px;min-height: 40px;padding-left:50px;}
	#slider-right select {height:40px;font-size:16px;padding:10px;}
	#slider-right p.text-right {padding:10px 0 0 0;}
	#slider #slider-nav, #slider #slider-nav ul li a {height:260px;}
	#slider #slider-nav .column.one-third {width:33%;}
	#slider #slider-nav li img {float:none;}
	#slider #slider-nav li h3 {font-size:16px;line-height:18px;margin:10px 0px 0px;}
	#slider #slider-nav li p {font-size:12px;line-height:14px;margin:10px 0px 0px;}

	#above-content .column {margin-bottom:20px;}

	.not-front #main {padding-top:20px;}
	#primary.columns.eleven {margin-bottom:20px;}

	.product-summary .views-row .views-field.views-field-field-image {width:150px;margin-top:-50px;}
	.product-summary .views-row .views-field {margin-left:160px;}
	.product-summary .views-row .views-field-title{font-size:18px;}
	.product-summary .views-row .views-field.views-field-body {font-size:12px;line-height:20px;min-height:150px;}
	.product-summary .views-row .views-field.views-field-body h4, .product-summary .views-row .views-field.views-field-body li {margin-bottom:0;}
	.product-summary .views-row .views-field-field-tmall-product-id{margin-left:0;margin-top:-80px;}
	.product-summary .views-row .views-field-field-tmall-product-id .field-content{width:150px;}
	.product-summary .views-row .views-field.views-field-body h4{font-size:15px;}

	#crucial-tab-wrapper ul.crucial-tabs li {margin: 0;width:25%;}
	#crucial-tab-wrapper ul.crucial-tabs li a {font-size:14px;padding:6px;}

	#primary .pager li {font-size:12px;}
	#primary .pager li a:link, #primary .pager li a:visited, #primary .pager li.pager-current {padding:3px 5px;}
	#button_wrapper{margin-top:0;}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	#filter_select .step span.loader{position:absolute !important;top:155px !important;left:360px !important;}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
}

